{% from "../../macros/prisonerSummarySection.njk" import prisonerSummarySection %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block prisonerProfileSection %}

  {% if functionalSkillLevels %}
      {{ prisonerSummarySection(functionalSkillLevels.maths, '', {}, false, 'govuk-summary-list--no-border') }}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {{ prisonerSummarySection(functionalSkillLevels.english, '', {}, false, 'govuk-summary-list--no-border') }}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {{ prisonerSummarySection(functionalSkillLevels.digiLit, '', {}, false, 'govuk-summary-list--no-border') }}

  {% else %}
    <p class="govuk-body">{{ missingLevel }}</p>
  {% endif %}
  
{% endblock %}